/* Create smooth infinite scrolling animation */


.marquee-wrapper {
  overflow: hidden;
  white-space: nowrap;
  display: flex;
}



/* Optional: Define additional styles for the text outline */
.textOutline {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}


.marquee-content .box{
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin: 0 30px;
  position: relative;
  top: -50px;
}